[submodule ".vim/bundle/vundle"]
	path = .vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule ".zsh_plugins/fasd"]
	path = .zsh_plugins/fasd
	url = git://github.com/clvv/fasd.git
[submodule ".cask"]
	path = .cask
	url = https://github.com/cask/cask.git
[submodule ".emacs.d/plugins/evil-org-mode"]
	path = .emacs.d/plugins/evil-org-mode
	url = https://github.com/edwtjo/evil-org-mode.git
