*.DS_Store
*.swp
*.bak
/.ApacheDirectoryStudio
/.CFUserTextEncoding
/.ICEauthority
/.Trash
/.account
/.adobe
/.bashrc
/.bash_history
/.bash_login
/.bash_logout
/.bazaar
/.bi_li3
/.bugs_everywhere
/.bundle
/.bzr.log
/.cache
/.certs
/.codeintel
/.config
/.cups
/.datastudio
/.dbus
/.ddd
/.dmrc
/.dropbox
/.dvdcss
/.ec2
/.eclipse
/.emacs-places
/.emacs.bak
/.emacs.d
/.erlang.cookie
/.eshell
/.fontconfig
/.fonts
/.freemind
/.gconf
/.gdb_history
/.gem
/.getmail/gmail.log
/.getmail/oldmail-pop.gmail.com-995-gary.bernhardt@gmail.com
/.gnome2
/.gnupg
/.gtk-bookmarks
/.god
/.heroku
/.hg.cvsps
/.hgk
/.history
/.history.436tlA
/.hoe_template
/.htoprc
/.hudson
/.hxcpp_config.xml
/.ipython
/.irb-history
/.irb_history
/.lesshst
/.lldb-history
/.local
/.localized
/.macports
/.mission-control
/.msf4
/.mysql_history
/.netrc
/.network_backups
/.node-gyp
/.npm
/.pip
/.pow
/.profile
/.pry_history
/.psql_history
/.pulse-cookie
/.pulse
/.pypirc
/.python-eggs
/.rbx
/.rediscli_history
/.rnd
/.rubinius_last_error
/.rvm
/.scapy_history
/.scripts
/.serverauth.*
/.sh_history
/.slideshow
/.sqlite_history
/.ssh
/.sshterm
/.ssl
/.subversion
/.tmp
/.toot
/.tox
/.vboxclient-clipboard.pid
/.vboxclient-display.pid
/.vboxclient-seamless.pid
/.vim-tmp
/.vim/.netrwhist
/.vim-fuf-data
/.vimfuzzyfinder
/.viminfo
/.vimprojects
/.vimrc.backup
/.vimrc.old
/.viper
/.w3m
/.wireshark
/.wireshark-etc
/.zcompdump
/.zlogin
/.zsh_history
/.xsession-errors
/.Xauthority
/Applications
/Archive
/Desktop
/Documents
/Downloads
/Dropbox
/Library/*
!/Library/KeyBindings
!/Library/AppleScripts
/Movies
/Music
/Pictures
/Public
/Reading
/Sites
/VirtualBox\ VMs
/bin/rvm
/bin/rvm-auto-ruby
/bin/rvm-exec
/bin/rvm-prompt
/bin/rvm-shell
/bin/rvmsudo
/blog
/desktop_temp
/doc
/gmail-archive.sparsebundle
/john.log
/john.pot
/media
/misc.sparsebundle
/node_modules
/prog
/proj
/purchases
/reference
/rop
/screencasts
/share/man
/src
/sym
/talks
/tmp
/var
/work

*.elc
*~
*.orig
*.rej
*.pyc
